[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
jinja2 = "*"
jupyterlab = "*"
python-dotenv = "*"
pathlib = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
