[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
jinja2 = "*"
lab = "*"
jupyterlab = "*"
livereload = "*"

[dev-packages]

[requires]
python_version = "3.13"
