html, body {
      height: 100%;
      margin: 0;
      overflow: hidden;
      }

canvas {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      }

#map { position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0; 
}

button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

#table_layer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 135px;
    height: 98.5dvh;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd; 
    z-index: 1000;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: transform 0.5s ease;
    }

#mountainTable td button {
    cursor: pointer;
    text-align: left;
    vertical-align: top;
    white-space: normal; 
    width: 100%;
    width: 110px;
    }

#login {
    position: fixed;   
    top: 10px;
    right: 10px;
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.6);
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: top;
    width: 120px;
    height: 220px;
  }

#searchInput::placeholder {
    text-align: right;
    }

#table_layer.collapsed {
  transform: translateX(-100%);
}
  
#toggleSidebar {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1100;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  transition: left 0.5s ease; 
  }

button {
    border-radius: 6px;
    border-width: 1px;
    border-color: black;
    cursor: pointer;
    }

.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.85) !important;
  box-shadow: 0 3px 14px rgba(0, 0, 0.0);
  }
.leaflet-popup-tip {
  background: rgba(255, 255, 255, 0.85) !important;
  }

.popUp {
  width: 300px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 0px;
}

h3 {
  margin:0 0 10px;
  font-size:18px;
  font-weight:bold;
  color:#2c3e50;
  text-align:center;
  }

#sub-munro {
  background-color:gold;
  color:black;
  border:2px solid #b8860b;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
  padding:5px 5px;
  }

#del-munro {
  background-color:red;
  color:black;
  border:2px solid #b8860b;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
  font-size:10px
  }

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-element {
  margin-top:5px;
  border-radius: 4px;
  border:1px solid #333;
  resize: none;
}

#navigate {
    display: flex;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    height: fit-content;
    flex-direction: column;
    gap: 10px;
  }

.profile-button {
    display: flex;
    align-items: center;           
    justify-content: flex-start;   
    gap: 5px;                      
    width: 180px;
    height: 30px;
    border: 1px solid black;
    background-color: #e0f0ff;
    cursor: pointer;
    overflow: hidden;         
    white-space: nowrap;      
    text-overflow: ellipsis;  
    margin-left: 15px;
    margin-bottom: 2px; 
}

#profile-panel {
    background-color: #EBF6F9;
    margin-left: 40px;
    margin-top: 40px;
    color:#000;
    border: 1px solid black; 
    width: 240px; 
    padding:20px 30px; 
    height: 500px;
}

#team-panel, #friend-panel {
    background-color: #EBF6F9;
  margin-left: 10px;
  margin-top: 40px;
  color: #000;
  border: 1px solid black;
  width: 190px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow-y: auto;
}

#homepage-button {
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  width: 100px;
  height: 20px;
}