<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>munrosWithFriends</title>
  <link rel="icon" href="/static/images/munro.png" type="image/png">

  <link rel="stylesheet" href="/static/css/styles.css">

  <!--leaflet stylesheet-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<style>
#a-div {
    position: fixed;   
    top: 60px;
    right: 60px;
    padding: 10px 20px;
    background-color: #484848;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: top;
    width: 300px;
    height: 130px;
  }
</style>
</head>

<body>
<div id="map"></div>

<div id="a-div"><p style="font-family: Courier New; letter-spacing: 0.02em;">
  nothing exists by this name.<br>check in purgatory.<br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;Beauty will save the world<br><br></p>
</div>

<script>
  const fixedCenter = [58.225, 68.28]
  const map = L.map('map', {
    center: fixedCenter,
    zoom: 12,
    minZoom: 3,
    maxZoom: 14,
    dragging: false,      
    zoomControl: false
  });

  // Override zoom so center stays fixed
  map.on('zoom', () => {
    map.setView(fixedCenter, map.getZoom(), { animate: false });
  });

// Base layer
L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {

  attribution: 'Tiles &copy; Esri &mdash; Sources: Esri, DeLorme, HERE, TomTom, Intermap, increment P Corp., GEBCO, USGS, FAO, NPS, NRCAN, GeoBase, IGN, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), swisstopo, MapmyIndia, and the GIS User Community. Powered by Esri'
}).addTo(map);

</script>

</body>
</html>