<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>munrosWithFriends</title>
  <link rel="icon" href="/static/images/munro.png" type="image/png">

  <link rel="stylesheet" href="/static/css/styles.css">
  <script type="module" src="/static/js/manage_teams_members.js"></script>

  <script>
    //get current user
    const user = {{ user | tojson }};
    const user_img = {{ user_img | tojson }};

    //get user first, last bag year and best year
    const data = {{ log_data|tojson|safe }}
    const bag_dates = data.map(item => item.date);
    const filtered_dates = bag_dates.filter(item => item !== null && item !== undefined);
    filtered_dates.sort()

    const bag_years = filtered_dates.map(str => str.slice(0, 4));
    
    const counts = {};
    bag_years.forEach(item => {
        counts[item] = (counts[item] || 0) + 1;
        });

        let count = 0;
        let year = null;

        for (const [key, value] of Object.entries(counts)) {
        if (value > count) {
            count = value;
            year = key;
        }

        if (year === null) {
          year = "😔"
        }
        }
</script>

</head>

<body style="margin-left: 10px;overflow: auto; background-color: #B8FFB8;">

<div id="col-container" style="display: flex;">

<div id="profile-panel">

  <!--user profile panel-->
    <script>

        document.getElementById('profile-panel').innerHTML = 
        `
            <div style="display: flex; flex-direction: row; gap: 5px;">
                <button style="width: 80px; text-align: center;" 
                        onclick="window.location.href='/{{ user }}/view'">
                View page
                </button>
                <button style="width: 80px; text-align: center;" 
                        onclick="window.location.href='/{{ user }}/edit'">
                Edit page
                </button>
                <button style="width: 80px; text-align: center;" 
                        onclick="window.location.href='{{ url_for('auth.logout') }}'">
                Logout
                </button>
            </div>
        <h2>${user}</h2>

        <div style="background-color: white; border: 2px solid black; width:70px; padding:5px">
          <img src="{{ user_img }}" alt="Profile Image" width="70" height="70">
        </div>

        <br>

        <div style="display:grid; grid-template-columns:max-content 1fr; row-gap:8px; column-gap:15px; font-size:18px;">
            <strong>Total bags:</strong><span>{{ bag_total }}/282</span>
            <strong>First bag:</strong><span>${filtered_dates[0] ?? '😔'}</span>
            <strong>Last bag:</strong><span>${filtered_dates[filtered_dates.length - 1] ?? '😔'}</span>
            <strong>Best year:</strong><span>${count} bags, ${year ?? '😔'}</span>
        </div>

        <br>
        <form action="/uploadImage" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button style="width:150px;">Upload user image</button>
        </form>

        <form action="/downloadData" method="get">
        <button style="width:150px;">Download my data</button>
        </form>

        <hr style="height: 0.5px; background-color: black; margin: 10px 0 0 0;">

        <div style="display: flex; justify-content: center; align-items: center; height: 100px;">
        <form action="/delUser" method="POST" 
          style="display: flex; flex-direction: column; align-items: center; width: 100%;">
            <label style="font-size: 12px; margin-bottom: 8px;">
            <input type="checkbox" name="conf" required>
            Confirm - permanently delete my profile and data
            </label>

            <button type="submit"
                    style="width: 80px; background-color: red; color: black; font-weight: bold; border-radius: 5px; cursor: pointer;">
            Delete 😧
            </button>
        </form>
        </div>
        `
    </script>
</div>

<div id="team-panel">

  <h3>Teams</h3>

  <div style="max-height: 324px; overflow-y: auto; border: 1px solid black; border-radius: 5px">
     <table id= team-table style="border-collapse: separate; border-spacing: 0;">
      <thead>
        <tr>
          <th colspan="2" style="padding: 4px;">
            <input type="text" id="search-teams" placeholder="Search..." style="width: 90%; padding: 5px; margin-bottom: 10px;margin-top: 10px;">
          </th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
        <tr>
        <td>
          <input type="checkbox" name="select_team" value="{{ team.team_id }}">
        </td>
          <td>
            <button style="width: 120px; align-content: left;" class="profile-button" onclick="window.location.href='../{{ team.team_name | urlencode }}/team_view'">
              {{ team.team_name }}
            </button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <br>
  </div>

<br>

<form id="createTeam" action="/createTeam" method="POST" style="display: flex; flex-direction: column; align-items: left ; width: 100%;">
<input type="text" name="team_name" placeholder="Team name" style="width:180px">
<button type="submit" style="width: 100px; background-color: lightgreen; font-weight:bold">
  Create team</button>
</form>
{% if team_message %}
  <p style="font-weight: bold; color: {{ team_color }};">{{ team_message }}</p>
{% endif %}
<form id="quit-team" action="/quitTeam" method="POST" style="display: none; flex-direction: column; align-items: center; width: 100%;">
<label style="font-size: 12px; margin-bottom: 8px;"><input type="checkbox" name="conf" required>Confirm</label>
<button type="submit"
style="width: 145px; background-color: red; color: black; font-weight: bold; border-radius: 5px; cursor: pointer;">
Quit teams
</button>
</form>

</div>

<div id="friend-panel">

<h3>Friends</h3>

<div style="max-height: 324px; overflow-y: auto; border: 1px solid black; border-radius: 5px">

    <table id= "user-table" max-height: style="border-collapse: separate; border-spacing: 0;">
    <thead>
      <tr>
        <th colspan="2" style="padding: 4px;">
          <input type="text" id="search-users" placeholder="Search..." style="width: 90%; padding: 5px; margin-bottom: 10px;margin-top: 10px;">
        </th>
      </tr>
    </thead>

    <tbody>
     {% for user in users %}
        <tr>
        <td>
          <input type="checkbox" name="select_user" value="{{ user.user_id }}">
        </td>
          <td>
            <button style="width: 120px; align-content: left;" class="profile-button" onclick="window.location.href='../{{ user.user_name | urlencode }}/view'">
              <img style="width: 26px; height: 26px;" src="{{ user.user_img }}"> {{ user.user_name }}
            </button>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
  </div>
  <br>
<form id="add-to-team" action="/addToTeam" method="POST" style="display: none; flex-direction: column; align-items: left; width: 100%;">

<button type="submit"
style="width: 145px; background-color: lightgreen; color: black; font-weight: bold; border-radius: 5px; cursor: pointer;">
Add to team
</button>
</form>

{% if member_message %}
  <p style="font-weight: bold; color: {{ member_color }};">
    {{ member_message }}
  </p>
{% endif %}
</div>

</div>

<script>
  // search teams table
const searchTeamInput = document.getElementById('search-teams');
const teamRows = document.querySelectorAll('#team-table tbody tr');

searchTeamInput.addEventListener('input', function () {
    const filter = searchTeamInput.value.toLowerCase();
    teamRows.forEach(row => {
        const nameText = row.textContent.toLowerCase();
        row.style.display = nameText.includes(filter) ? '' : 'none';
    })
  });

// search users table
const searchUserInput = document.getElementById('search-users');
const userRows = document.querySelectorAll('#user-table tbody tr');

searchUserInput.addEventListener('input', function () {
    const filter = searchUserInput.value.toLowerCase();
    userRows.forEach(row => {
        const nameText = row.textContent.toLowerCase();
        row.style.display = nameText.includes(filter) ? '' : 'none';
    })
  });
</script>