<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>munrosWithFriends</title>
  <link rel="icon" href="/static/images/munro.png" type="image/png">

  <link rel="stylesheet" href="/static/css/styles.css">

  <script type="module" src="/static/js/search_map_sidebar.js"></script>
  <script type="module" src="/static/js/navigate_to_coords.js"></script>
  <script type="module" src="/static/js/toggle_side_bar.js"></script>
  <script type="module" src="/static/js/bag_del_munro.js"></script>

  <!--leaflet stylesheet-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

</head>

<body>

<canvas id="fireworks"></canvas>
<script type="module">
  import { startFireworksOnMap } from '/static/js/fireworks.js';
</script>


<div id="map"></div>

<!--add sidebar table with color for bags-->
<div id="table_layer">
  <table id="mountainTable">
    <colgroup><col style="width: 120px"></colgroup>
    <thead id="tableHeader" style="position: fixed; top: 0; background: white; z-index: 1000;">
      <th style="text-align: left;">
        Name ({{ bag_total }}/282)<br>
        <input type="text" id="searchInput" placeholder="🔍" style="width: 100px; text-align: left;">
      </th>

    <tbody style="display:block; margin-top: 30px;">
    <tbody>
      {% for loc in log_data %}
        <tr>
          <td>
            {% if loc.date is none %}
              <button onclick="goToLocation({{ loc.latitude }}, {{ loc.longitude }})">
              {{ loc.name }}
            </button>
            {% else %}
            <button style = "background-color: #93C572;"
                  onclick="goToLocation({{ loc.latitude }}, {{ loc.longitude }})">
              {{ loc.name }}
            </button>
            
            {% endif %}

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<!-- Toggle Button -->
<button id="toggleSidebar">Hide table</button>

<!--add base map-->
<script src="/static/js/base_map.js"></script>

<script>
//convert jinja to js to avoid template with js combo nightmare
const locations = {{ log_data|tojson|safe }};

//gap icon
const gapIcon = L.icon({
    iconUrl: '/static/images/gap.png',
    iconSize: [18, 18],
    iconAnchor: [10, 10],
    popupAnchor: [0, -10]
});

//check for user image else use generic bag.png
const userIconUrl = '/static/images/{{ user }}.png';
const defaultIconUrl = '/static/images/bag.png';


function loadBagIcon() {
    return new Promise(resolve => {
        const img = new Image();
        img.onload = () => resolve(
          L.icon({
            iconUrl: userIconUrl,
            iconSize: [18, 18],
            iconAnchor: [10, 10],
            popupAnchor: [0, -10]
        }));
        img.onerror = () => resolve(
          L.icon({
            iconUrl: defaultIconUrl,
            iconSize: [18, 18],
            iconAnchor: [10, 10],
            popupAnchor: [0, -10]
        }));
        img.src = userIconUrl;
    });
}

// check image path then build markers
loadBagIcon().then(bagIcon => {
    locations.forEach(loc => {
        const peakIcon = loc.date === null ? gapIcon : bagIcon;

        const marker = L.marker([loc.latitude, loc.longitude], { icon: peakIcon })
            .addTo(map)
            .bindTooltip(loc.name,
                      {permanent:false,
                        direction:'top',
                        offset:[-1,-7]
                      })
            //generate popup content for bag or gap munro
            .on('click', e => {
                const popupContent = `
                <div id=pop-up>
                  <h3>
                    ${loc.date === null
                        ? `${loc.name}`

                        : `🏔️&#8288;👜${loc.name}🏔️&#8288;👜`}
                  
                  </h3>
                  <p style="font-size:12px;">${loc.description} <a href="${loc.whl_url}" target="_blank">More</a></p>

                  <div style="display:grid; grid-template-columns:max-content 1fr; row-gap:4px; column-gap:8px; font-size:13px; color:#000;">
                    <strong>Height:</strong><span>${loc.height}</span>
                    <strong>Region:</strong><span>${loc.region}</span>
                  </div>

                   <div style="grid-column: 1 / -1;">
                          <hr style="border: none; height: 0.5px; background-color: #333; margin: 10px 10px;">
                      </div>
                  
                  ${loc.date === null
                    ? `<form>
                        <input type="hidden" id="munro-id" value="${loc.munro_id}">
                        <input type="date" id="date" name="date" class="form-element" style="width:130px;height:25px;" required>
                        <textarea id="distance" name="distance" placeholder="Distance" class="form-element" style="width:130px;height:25px;margin-top:10px;"></textarea>
                        <textarea id="friends" name="friends" placeholder="Friends" class="form-element" style="margin-top:10px;"></textarea>
                        <textarea id="notes" name="notes" placeholder="Notes" class="form-element" style="height:60px;margin-top:10px;"></textarea>
                        
                        <div style="text-align:center; margin-top:10px;">
                          <button id="sub-munro" type="submit">
                            In the bag 🏔️→👜
                          </button>
                        </div>
                        <p style="text-align:right; font-size:10px">©2006-2025 Walkhighlands</p>
                      </form>`
            
                    : `<div>
                  
                        <div style="display:grid; grid-template-columns:max-content 1fr; row-gap:4px; column-gap:8px; font-size:13px; color:#000;">
                          <strong>Date:</strong><span>${loc.date}</span>
                          ${loc.distance ? `<strong>Distance:</strong><span>${loc.distance}</span>` : ''}
                          ${loc.friends ? `<strong>Friends:</strong><span>${loc.friends}</span>` : ''}
                          ${loc.notes ? `<strong>Notes:</strong><span>${loc.notes}</span>` : ''}
                        </div>

                        <div style="grid-column: 1 / -1;">
                          <hr style="border: none; height: 0.5px; background-color: #333; margin: 10px 10px;">
                        </div>

                        <div style="display:flex; justify-content:center; margin-top:10px;">
                          <form style="display:flex; align-items:center; gap:10px; flex-wrap:nowrap;">
                            <input type="hidden" id="munro-id" value="${loc.munro_id}">

                            <label style="white-space:nowrap; display:flex; align-items:center; gap:0px;font-size: 12px; font-color:black; font-weight:bold;"">
                              <input type="checkbox" name="conf" required>
                              Confirm
                            </label>

                            <button id="del-munro" type="submit"
                              style="white-space:nowrap; background-color:red; color:black; font-weight:bold; border-radius:5px; padding:4px 8px; cursor:pointer;">
                              Delete bag 😧
                            </button>
                          </form>
                        </div>

                        <p style="text-align:right; font-size:10px;">©2006-2025 Walkhighlands</p>
                                        
                      </div>`}
                </div>
                `;
              L.popup()
                .setLatLng(e.latlng)
                .setContent(popupContent)
                .openOn(map)              
                  });
});
});
</script>
</body>
</html>